{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="TemplateMo">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
    rel="stylesheet">

    <title>{% block title %} {% endblock title %}</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/templatemo-finance-business.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    {% block content %}
      
    {% endblock content %}


    <script src="{% static 'js/top.js' %}"></script>



    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'js/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  
    <!-- Additional Scripts -->
    <script src="{% static 'assets/js/jquery.singlePageNav.min.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static 'assets/js/owl.js' %}"></script>
    <script src="{% static 'assets/js/slick.js' %}"></script>
    <script src="{% static 'assets/js/accordions.js' %}"></script>
  





</body>
